:root {
    --white: #fff;
    --button: rgb(58, 178, 226);
    --star-gold-color: #CB9400;
} 

* {
    margin: 0;
    padding: 0;
}


html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #141414;
}



.grid__column-2 {
   padding-left: 12px;
   padding-right: 12px;
   width: 16.66667%;
   box-sizing: border-box;
}

.grid__column-3 {
    padding-left: 12px;
   padding-right: 12px;
   width: 25%;
   box-sizing: border-box;
}


.grid__column-10 {
   padding-left: 12px;
   padding-right: 12px;
   width: 83.33333%;
   box-sizing: border-box;
}
/*animation*/

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}


@-webkit-keyframes fade {
    from {opacity: 0.8;}
    to {opacity: 1;}
}
@keyframes fade {
    from {opacity: 0.8;}
    to {opacity: 1;}
}


@keyframes posi {
    from {
        left: 25%;
    }
    to {
        left: 15%;
    }
}


@-webkit-keyframes zoomin {
    from {transform: scale(1, 1);}
    to {
        transform: scale(1.5, 1.5);
    }
}

@keyframes zoomin {
    from {transform: scale(1, 1);}
    to {
        transform: scale(1.5, 1.5);
    }
}


@-webkit-keyframes zoomin2 {
    from {transform: scale(1, 1);}
    to {
        transform: scale(1.2, 1.2);
    }
}


@keyframes zoomin2 {
    from {transform: scale(1, 1);}
    to {
        transform: scale(1.2, 1.2);
    }
}

/*modal layout css*/
.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
    display: none;
    z-index: 101;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);

}

.modal__body {
    --growth-from: 0.7;
    --growth-to: 1;
    margin: auto;
    position: relative;
    z-index: 101;
    animation: growth linear 0.1s;
}

/*button*/

.btn {
    min-width: 142px;
    height: 34px;
    text-decoration: none;
    border: 1px solid var(--button);
    border-radius: 2px;
    font-size: 14px;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: var(--button);
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;

}

.btn.btn--nomal:hover {
    color: rgb(58, 178, 226);
    border-color: rgb(58, 178, 226);
    box-shadow: 1px 1px 2px 2px rgba(100, 203, 243, 0.5);
}

.btn.btn--primary:hover {
    color: rgb(58, 178, 226);
    border-color: rgb(58, 178, 226);
    box-shadow: 1px 1px 2px 2px rgba(100, 203, 243, 0.5);
}


/*thư viện responsive*/
.grid {
    width: 100%;
}

.grid.wide {
    margin: 0 auto;
    max-width: 1300px;
    
}


.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.col {
    padding-left: 12px;
    padding-right: 12px;
}

/*mobile*/
@media (max-width: 739px) {
    .wide {
        width: 630px;
    }
    .row {
        margin-left: -4px;
        margin-right: -4px;
    }
    .col {
        padding-left: 4px;
        padding-right: 4px;
    }
    
    .s-1,
    .s-2,
    .s-3,
    .s-4,
    .s-5,
    .s-6,
    .s-7,
    .s-8,
    .s-9,
    .s-10,
    .s-11,
    .s-12 {
      display: block;
    }

    .s-0 {
        display: none;
    }
    
    .s-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    
    .s-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    
    .s-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    
    .s-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    
    .s-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    
    .s-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    
    .s-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    
    .s-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    
    .s-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    
    .s-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    
    .s-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    
    .s-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
/*tablet - pc low resolution*/
@media (min-width: 740px) and (max-width: 1023px) {
    .wide {
        width: 800px;
    }
    .row {
        margin-left: -8px;
        margin-right: -8px;
    }
    .col {
        padding-left: 8px;
        padding-right: 8px;
    }
    
    .m-0 {
        display: none;
    }

    .m-1,
    .m-2,
    .m-3,
    .m-4,
    .m-5,
    .m-6,
    .m-7,
    .m-8,
    .m-9,
    .m-10,
    .m-11,
    .m-12 {
      display: block;
    }
    
    .m-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    
    .m-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    
    .m-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    
    .m-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    
    .m-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    
    .m-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    
    .m-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    
    .m-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    
    .m-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    
    .m-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    
    .m-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    
    .m-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    
}


/* bigger pc low resolution*/
@media (min-width: 1024px) and (max-width: 1239px) {
    .wide{
        width: 984px;
    }

    .wide .row {
        margin-left: -12px;
        margin-right: -12px;
    }

    .wide .col {
        padding-left: 12px;
        padding-right: 12px;  
    }

    .wide .l-0 {
        display: none;
    }

    .wide .l-1,
    .wide .l-2,
    .wide .l-3,
    .wide .l-4,
    .wide .l-5,
    .wide .l-6,
    .wide .l-7,
    .wide .l-8,
    .wide .l-9,
    .wide .l-10,
    .wide .l-11,
    .wide .l-12 {
      display: block;
    }

    .wide .l-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    
    .wide .l-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    
    .wide .l-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    
    .wide .l-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    
    .wide .l-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    
    .wide .l-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    
    .wide .l-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    
    .wide .l-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    
    .wide .l-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    
    .wide .l-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    
    .wide .l-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    
    .wide .l-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}






