/*Mobile and tablet*/
@media (max-width: 1023px) {
   .hide-on-mobile-tablet {
       display: none;
   }

   .navbar-responsive {
    display: block;
   }

   .shopping-responsive {
    display: block;
   }

   .menu-mobile-tablet {
       display: block;
   }


}

/*tablet*/
@media (min-width: 740px) and (max-width: 1023px) {

    .hide-on-tablet {
        display: none;
    }

    .logo img {
        width: 47%;
    }

    .trademark{
        padding: 20px 0 10px 0;
        border-top: none;
        border-bottom: none;
    }

    .name__main-product-item {
        margin-bottom: 20px;
    }

    .blog__news .blog__news-list .blog__news-item{
        width: 498px;
        height: 265px; 
    }

    .blog__news .blog__news-list .blog__news-item:first-child{
        margin-right: 20px;
    }

    .blog__news .blog__news-list .blog__news-item a h4 {
        font-size: 18px;
        position: absolute;
        bottom: 8%;
        left: 5%;
        padding: 7px;
    }

    .blog__news .blog__news-list .blog__news-item a p {
        font-size: 14px;
        position: absolute;
        bottom: 1%;
        left: 5%;
        padding: 7px;
    }
}

/*Mobile*/
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }

    .trademark{
        padding: 15px 0 5px 0;
        border-top: none;
        border-bottom: none;
    }

    .logo img {
        width: 50%;
    }

    .logo p {
        margin: 6px 0;
        color: rgb(190, 190, 190);
        font-size: 10px;
    }

    .menu-mobile-tablet {
        width: 100%;
    }

    .bars-responsive-icon {
        font-size: 20px;
    }

    .basket-responsive-icon {
        font-size: 20px;
    }

    .name__main-product-item {
        height: 450px;
        margin-bottom: 30px;
      }
  
      .name__main-product-item:last-child {
          margin-bottom: 0;
      }

    .blog__news .blog__news-list .blog__news-item{
        width: 700px;
        height: 415px; 
    }

    .blog__news .blog__news-list .blog__news-item a h4 {
        font-size: 18px;
        position: absolute;
        bottom: 8%;
        left: 5%;
        padding: 7px;
    }

    .blog__news .blog__news-list .blog__news-item a p {
        font-size: 14px;
        position: absolute;
        bottom: 1%;
        left: 5%;
        padding: 7px;
    }

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 30px;
    }

    .footer-logo {
        width: 300px;
        padding-bottom: 40px;

    }

    .footer-contact {
        width: 300px;
        margin-left: 60px;
    }

    .footer-contact h2 {
        color: rgb(216, 216, 216);
        font-size: 24px;
        margin-left: 50px;
    }
    
    .footer-contact__social {
        margin-top: 20px;
        margin-left: 50px;
    }

    .au-form1 {
        width: 100%;    
    }

    .au-form2 {
        width: 100%;    
    }
}

/*pc medium resolution*/
@media (min-width: 1024px) and (max-width: 1271px) {
    .search__wrap {
        padding: 21px 0;
        margin: 0 40px;
    }

    .search__input {
       font-size: 14px;
    }

    .search__input-icon {
        font-size: 16px;
    }

    .logo img {
        width: 50%;
    }

    .phone__support-wrap {
        padding: 15px 50px;
        margin: 0 40px;
    }

    .phone__support-icon {
        font-size: 27px;
        color: #747474;
        margin-right: 23px;
        margin-top: 3px;
    }

    .phone__support-text .text__support {
        font-size: 13px;
        color: rgb(221, 221, 221);
        margin-bottom: 7px;
    }
      
    .phone__support-text .number__support {
        font-size: 14px;
        color: rgb(240, 239, 239);
        font-weight: 500;
    }

    .name__main-product-item {
      margin-bottom: 30px;
    }

    .name__main-product-item:last-child {
        margin-bottom: 0;
    }
}